/* =============
    Index
============= */

#index-hero{
    margin: 32px 0;
    text-align: center;
    >div{
        padding: 0 16px;

        @include md{
            padding: 0 56px;
        }
        @include lg{
            padding: 0 20vw;
        }
        @include xxl{
            padding: 0 400px;
        }
        p{
            font-size: rem-calc(18);
            color: var(--blue);
            line-height: rem-calc(24);
        }
        button{
            margin: 32px 0;
        }
    }


}

#index-hero-image{
    height: 70vh;
    background-image: url('../img/home/hero.jpg');
    background-size: cover;
    background-position:center;

    @include md{
        height: 60vh;
    }
    @include lg{
        height: 75vh;
        background-position: center bottom;
    }
}

#index-brands{
   padding: 32px 16px;
   ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 26px;
    grid-template-areas: "tnf tnf  yeti yeti"
    "columbia columbia coleman coleman"
    ". patagonia patagonia .";
    @include md{
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: "tnf tnf  yeti yeti columbia columbia"
    ". coleman coleman patagonia patagonia .";
      gap: 20px;
    }
    @include lg{
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: "tnf yeti columbia coleman patagonia";
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #tnf{
        grid-area: tnf;
    }
    #yeti{
        grid-area: yeti;
    }
    #columbia{
        grid-area: columbia;
    }
    #coleman{
        grid-area: coleman;
    }
    #patagonia{
        grid-area: patagonia;
    }
   }
}

#index-planning{
    padding: 32px 16px;
    background-color: var(--blue);
    color: var(--green);
    text-align: center;
    h1{
        text-align: left;
    }
    p{
        margin-bottom: 32px;
        text-align: left;

        @include md{
            padding-right:  30vw;
            font-size: rem-calc(20);
            line-height: 25px;
        }
    }
    #planning-hero{
       // width: 100%;
       background-image: url('../img/home/planning/planning.jpg');
       height: 360px;
       background-size: cover;
       background-position: center;
       border-radius: 10px;

       @include md{
        width: 80vw;
        height: 50vh;
       }
       @include lg{
        margin-left: 200px;
       }
       @include xl{
        width: 928px;
       }
    }

    #planning-callout{
        background-color: var(--green);
        color: var(--blue);
        text-align: center;
        border-radius: 10px;
        padding: 32px 0px;
        width: 244px;

        margin-top: -20px;

        @include md{
            
        }

        display: inline-block;

        #clock-container{
            margin: 0 auto 26px;
            height: 45px;
            width: 45px;
            background-color: var(--blue);
            border-radius: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3{
            font-size: rem-calc(25);
            font-weight: 500;
        }
    }

}

#index-weather{
    padding: 32px 16px;

    @include md{
        padding: 32px 15vw;
    }
    @include lg{
        padding: 40px 15vw;
    }

    #index-weather-xl-grid{

        @include xl{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "weather-content weather-icons";
            gap: 32px;
        }
        #weather-icons{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            gap: 16px;
    
            @include md{
                grid-template-columns: repeat(4,2fr);
                gap: 32px;
    
                margin-bottom: 16px;
            }

            @include xl{
                grid-area: weather-icons;
            }
            li{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        #weather-content{
        h1{
            color: var(--blue);
        }
        h2{
           
            color: var(--aqua);
            margin-bottom: 8px;
        }
        p{
            margin-bottom: 24px;
        }
    }
    }

   
}