/* =============
    Views
============= */

#views-hero{
   padding: 32px 16px;
   text-align: center;

   h1{
    margin-bottom: 32px;
   }

   p{
    color: var(--blue);
   }
}

#views-gallery{
        li{
            img{
                 width:100%;
            }
        }
}