/* =============
    Footer
============= */

footer{
    //background-color: var(--black);
    background-image: url("../img/footer/footer.jpg");
    background-size: cover;
    background-position: center bottom;
    color: var(--white);
    text-align: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;


    >div{
        padding-bottom: 32px;
        

    h2{
      // padding-top: 200px;
       font-size: rem-calc(24);
       font-weight:600;
       margin-bottom: 8px;

       @include md{
        margin-bottom: 16px;
       }
    }

    form{
        
        width: 85vw;

        @include md{
            width: 50vw;
        }
        >div{
            
            display: flex;
        input{
           border-radius: 0;
           border: none;
           width: 100%;
           padding-left: 2%;
           box-sizing: border-box;
           background-color: #ffffff75;
        }
        ::placeholder {
            color: var(--blueDark);
            opacity: 1; /* Firefox */
          }
          
          ::-ms-input-placeholder { /* Edge 12 -18 */
            color: var(--blueDark);
          }
        button{
        background-color: var(--red);
        padding: 16px;
        margin-left: auto;
        }
    }
    }

    ul{
        padding: 32px 6vw 16px;
        display: flex;
        justify-content: space-between;
        li{
            a{
             color: var(--white);
             font-size: rem-calc(30);
            }
        }
    }
}

}
