/* =============
    Typography
============= */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
  
h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}