/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// X Large desktops
$screen-xl-min: 1200px;

// XX-Large desktops
$screen-xxl-min: 1440px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --aqua: #598392;
  --blue: #124559;
  --blueDark: #01161E;
  --green: #AEC3B0;
  --seaFoamGreen:#EFF6E0;
  --redDark: #AD403A;
  --red: #F25C54;
}

